footer{
  background-color: #095295;
}

ul.social-network {
    list-style: none;
    padding: 0;
  }

  ul.social-network li {
    display: inline;
    margin: 0;
    padding: 3vh;
  }

  .fa {
    font-size: 35pt;
    color: white;
    /* padding: 1vh; */
  }

  .fa-facebook-square:hover {
    color: #3b5998;
  }

  .fa-instagram:hover {
    color: #c13584;
  }

  .fa-linkedin-square:hover {
    color: #0072b1;
  }

  .fa-whatsapp:hover{
    color: #34af23;
  }

  .footer-copyright {
    background-color: #095295;
  }
