<!-- InicioMenu -->
<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <u><a class="m-0 text-white" routerLink="/home">Voltar</a></u>
  </div>
</nav>
<!-- FianlMenu -->

<h1 class="text-center mt-5">Links Úteis</h1>
<!-- InicioCard -->
<div class="card mb-3 ">
  <div class="row no-gutters">
    <div class="col-md-4">
      <iframe width="411.5" height="317" src="https://www.youtube.com/embed/4rSlZrst1Gg" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">MALA DE MÃO sem erros! Todas as dicas para viajar sem perrengue | Lu Ferreira | Chata de
          Galocha
        </h5>
        <p class="card-text">Quer viajar com apenas uma mala de mão? Vem comigo que te ensino todos os truques da mala
          inteligente!</p>
        <p class="card-text" class="text-muted mt-5">Última atualização: 13/05/2022</p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 ">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://i.imgur.com/HoFvlvw.png" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Dicas de como contratar um guia turistico com segurança</h5>
        <p class="card-text">No blog Guia Vale do Paraíba você encontra dicas de como contratar guias de turismo e o que
          você deve considerar ao contratar um bom guia de turismo.</p>
        <p class="card-text" class="text-muted mt-5">Última atualização: 13/05/2022</p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 ">
  <div class="row no-gutters">
    <div class="col-md-4">
      <iframe width="411.5" height="317" src="https://www.youtube.com/embed/QjZRTqufk6M" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">COMO FAZER UM PLANEJAMENTO DE VIAGEM DO ZERO</h5>
        <p class="card-text">Você fica perdido na hora de começar a planejar uma viagem? Nesse vídeo você terá varias
          dicas de como planejar suas viajens!</p>
        <p class="card-text" class="text-muted mt-5">Última atualização: 13/05/2022</p>
      </div>
    </div>
  </div>
</div>
<!-- FinalCard -->
<hr class="m-5 p-0">
<!-- InicioFooter -->
<footer class="page-footer font-small pt-4 bg-secondary">

  <div class="container">

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Siga-nos nas redes sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

        <ul class="social-network">

          <li>
            <a href="https://www.facebook.com/generationbrasil/" target="_blank" class="icofacebook">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/generationbrasil/" target="_blank" class="icoinstagram">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="https://br.linkedin.com/company/generationorg" target="_blank" class="icolinkedin">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="https://wa.me/+5511993774990" target="_blank" class="icoWhatsapp">
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
            </a>
          </li>

        </ul>

      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">
    <span class="text-light"> © 2022 copyright: </span>
    <a class="text-light" target="_blanc" href="https://brasil.generation.org">brasil.generation.org</a>
  </div>

</footer>
<!-- FinalFooter -->
