<!-- InicioMenu -->
<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <u><a class="m-0 text-white" routerLink="/home">Voltar</a></u>
  </div>
</nav>
<!-- FianlMenu -->

<h1 class="text-center mt-5">Dúvidas Frequentes</h1>

<div class="card bg-light mb-3" style="max-width: auto;">
  <div class="card-body">

    <h5 class="card-title">1.	Como redefinir o meu e-mail?</h5>
    <p class="card-text">Não é possível a redefinição do E-mail.</p>

  </div>
</div>

<div class="card text-white bg-dark mb-3" style="max-width: auto;">
  <div class="card-body">
    <h5 class="card-title">2.	Como redefinir a minha senha?</h5>
    <p class="card-text">Na parte superior esquerda do menu da tela de início temos o botão de editar usuário, lá o usuário pode redefinir a senha.</p>
  </div>
 </div>

 <div class="card bg-light mb-3" style="max-width: auto;">
  <div class="card-body">

    <h5 class="card-title">3.	Como atualizar os meus dados cadastrais?</h5>
    <p class="card-text">Na parte superior esquerda do menu da tela de inicio, temos o botão de editar usuário, lá será possível atualizar os dados cadastrais liberados pela plataforma.</p>

  </div>
</div>

<div class="card text-white bg-dark mb-3" style="max-width: auto;">
  <div class="card-body">

    <h5 class="card-title">4.	Como excluir a minha conta?</h5>
    <p class="card-text">Na parte superior esquerda do menu da tela de inicio temos o botão de editar usuário, lá será possível deletar a conta.</p>

  </div>
 </div>

<hr class="m-5 p-0">
<!-- InicioFooter -->
<footer class="page-footer font-small pt-4 bg-secondary">

  <div class="container">

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Siga-nos nas redes sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

        <ul class="social-network">

          <li>
            <a href="https://www.facebook.com/generationbrasil/" target="_blank" class="icofacebook">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/generationbrasil/" target="_blank" class="icoinstagram">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="https://br.linkedin.com/company/generationorg" target="_blank" class="icolinkedin">
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a href="https://wa.me/+5511993774990" target="_blank" class="icoWhatsapp">
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
            </a>
          </li>

        </ul>

      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3">
    <span class="text-light"> © 2022 copyright: </span>
    <a class="text-light" target="_blanc" href="https://brasil.generation.org">brasil.generation.org</a>
  </div>

</footer>
<!-- FinalFooter -->
