<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center"> <!--mr para deixar na esquerda-->
        <li class="nav-item active">
          <img src="https://i.imgur.com/0IzEoOn.png4" alt="" width="50vw" height="50vh"
            class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-white">Links Úteis</p>
        </li>
  
        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-white">Contato</p>
        </li>
  
        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-white">Dúvidas Frequentes</p>
        </li>
        <a href="">
          <li class="nav-item pl-3">
            <i class="fa fa-pencil-square-o text-white" aria-hidden="true"></i>
          </li>
        </a>
      </ul>
  
      <ul class="navbar-nav ml-auto d-flex align-items-center"> <!--ml para deixar na direita-->
        <li class="nav-item pl-3">
          <a class="m-0 font-weight-bold text-white" routerLink="/cadastrar">Cadastrar</a>
        </li>
        <li class="nav-item pl-3">
          <a class="m-0 font-weight-bold text-white" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>

  <!--carousel-->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://i.imgur.com/LVTkP8f.jpg" alt="Primeiro Slide">
        <div class="carousel-caption d-none d-md-block">
            <h1>Turismo Cultural</h1>
            <h2>Teatro Municipal</h2>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.imgur.com/a2Z0Dkq.jpg" alt="Segundo Slide">
        <div class="carousel-caption d-none d-md-block">
            <h1>Turismo Religioso</h1>
            <h2>Catedral da Sé</h2>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.imgur.com/xs5pAqK.jpg" alt="Terceiro Slide">
        <div class="carousel-caption d-none d-md-block">
            <h1>Turismo Cultural</h1>
          <h2>MASP</h2>
          </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
<!--/carousel-->

<div class="container-fluid">

    <div class="row">
      <div class="col-md-6" id="img-bg"></div>
      <div class="col-md-6 mt-5 mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-10">
            <h1 class="text-center">Sobre Nós</h1>
            <h2 class="text-info"> Sobre o projeto, e o problema social a ser trabalhado:</h2>
            <h3>“OndeTemRolê?” foi idealizado para ser apresentado como Projeto Final do Grupo 6 da Turma 48 do Curso Bootcamp para Desenvolvedores Web Full Stack Java da ONG Generation Brasil. Com o objetivo de apresentar soluções tecnológicas para alcançar a ODS 8 da ONU: Trabalho Decente e Crescimento Econômico. A ideia por trás do Projeto é criar uma rede social que consiga unir pessoas que possuam conhecimento cultural e turístico local e queiram divulgar o seu trabalho como guia turístico, com pessoas que estejam interessadas em uma passeio com ampla imersão cultural, local e/ou religioso. Ou que indiquem outros usuários para essas vagas, por meio de postagens. Em especial oferecemos também o turismo virtual, pois conseguimos incluir as pessoas portadoras de necessidades especiais, e quem não tem a possibilidade de estar se deslocando. 
            O problema social a ser trabalhado no nosso projeto é a falta de emprego e a inclusão de um turismo sustentável.</h3>
            
            
            </div>
        </div>
      </div>
    </div>
  </div>

